

<!DOCTYPE html>
{% extends 'indexpage.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-9">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Product Table</h5>
			  <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Image</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                   {% for i in data %}

                    <td>{{i.ProductName}}</td>
                    <td>{{i.ProductCategory}}</td>
                    <td>{{i.ProductPrice}}</td>
                    <td>{{i.ProductDescription}}</td>
                    <td>{{i.ProductQuantity}}</td>

                      <td class="py-1">
<!--                    <form style="width: 150px;height: 150px;">-->

                      <img  src="{{i.ProductImage.url}}" alt="image" width="80px" height="70px" /></form></td>

                       <form action="{% url 'EditProduct' dataid=i.id %}">
                    <td>
                        <button type="submit" class="btn btn-dark">Edit</button>

                    </td>
                   </form>

                    <form action="{% url 'DeleteProduct' dataid=i.id %}">
                        <td>
                         <button type="submit" class="btn btn-dark">Delete</button>
                        </td>
                    </form>



                  </tr>

                {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
</body>
</html>
{% endblock %}
